.DS_Store
node_modules
output
public-dist
$__StoryList.tid
settings/settings.json
tiddlers/subwiki/

# ignore some change from plugin that will only change "modified" field
$__keepstate_*
tiddlers/$__Import.tid
tiddlers/$__layout.json
tiddlers/$__layout.json.meta
tiddlers/$__layout.tid
tiddlers/$__plugins_Gk0Wk_chat-gpt_openai-api-key.tid
tiddlers/$__config_RelinkOnRename.tid
tiddlers/$__StoryList_*.tid
tiddlers/$__layout_*.tid
tiddlers/$__Import_*.tid
tiddlers/$__Deck_new_study.tid
tiddlers/$__Deck_default_study.tid
