.horizontal-list-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 250px;
	overflow-y: auto;
}
.horizontal-list-links li {
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	border: none;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #5c7080;
	min-width: 20px;
	max-width: 100%;
	min-height: 20px;
	padding: 2px 6px;
	line-height: 16px;
	font-size: 12px;
	margin: 2px;
}
.horizontal-list-links li a {
	color: #f5f8fa;
}